[user]
	name = Clay Dugo
	email = claydugo@gmail.com
	username = claydugo
	signingkey = 07675BD2BDADA170
[apply]
	whitespace = fix
[core]
	editor = nvim
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	excludesfile = /Users/clay/dotfiles/git/.gitignore
  untrackedCache = true
[commit]
	gpgsign = true
[merge]
	log = true
[diff]
	algorithm = histogram
