alias ..='cd ../'
alias ...='cd ../../'
alias ....='cd ../../../'
alias .....='cd ../../../../'
alias ......='cd ../../../../../'
alias dl='cd ~/Downloads/'
alias dt="cd ~/Desktop"
alias doc="cd ~/Documents"
alias proj='cd ~/projects/'
alias ll='ls -la'
alias cl='clear'
alias :q='exit'
alias p='python3'
alias path='echo -e ${PATH//:/\\n}'
alias v='/bin/env nvim'
alias nvim='v'
alias vim='v'
alias vi='v'
alias t='tmux'
alias ta="tmux a"
alias td='cd $(mktemp -d /tmp/$1.XXXX)'
alias la='cat ~/.aliases'
alias glb='git shortlog -nse'
alias nvimtime='nvim --startuptime /tmp/nvimstartup.log -c exit && tail -10 /tmp/nvimstartup.log'

# Think this is zsh default
alias ~='cd ~'

# Ramona Specific
if [ -f ~/dotfiles/ramona/.ramona ]; then
    source ~/dotfiles/ramona/.ramona
fi

