#!/usr/bin/env sh
# vim: set filetype=sh
# Shell-agnostic aliases (work in both bash and fish)

alias ..='cd ../'
alias ...='cd ../../'
alias ....='cd ../../../'
alias .....='cd ../../../../'
alias ......='cd ../../../../../'
alias dl='cd ~/Downloads/'
alias dt="cd ~/Desktop"
alias doc="cd ~/Documents"
alias proj='cd ~/projects/'
alias ll='ls -lah'
alias cl='clear'
alias :q='exit'
alias p='python3'
alias i='ipython'
alias g='git'
alias gti='git'
alias ta="tmux a"
alias glb='git shortlog -nse'
alias lt='python3 ~/dotfiles/scripts/tmate_restore.py'
