# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so

# Compressed Files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Node
npm-debug.log

# Log Files
*.log

# Mac Shit
.DS_Store
.MacOSX
.Trash
Desktop.ini

# Swap Files
*.swp

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

*.bak
nvimstartup.log
.config/nvim/plugin
# Ignore so I dont merge gpg key
.gitconfig

# lazy.nvim
lazy-lock.json
hmmst.py


# FPGQ
*.o
*.o.cmd
*.ko.cmd
.cache.mk
.tmp_versions
*.o.ur-safe
modules.order
Module.symvers
*.ko
*.mod.c
